.container {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: #975aff;
    width:100%;
}

.header2{
    background: white;
    width: 100%;
    border: solid #5a4bff;


}


.img-naxitisOne{
    width: 95px;
    height: 30px;
    margin-bottom: 25px;
}
.box1{
    height: 55px;
    width: 105px;
}
.box2{
    height: 100px;
    width: 105px;
}

.box3{
    height: 100px;
    width: 105px;
}

.box4{
    height: 200px;
    width: 750px;
    background: white;
}
.box5{
    height:100px;
    width: 200px;
}
.box6{
    height:100px;
    width: 200px;
}
.box7{
    height:100px;
    width: 200px;
}
.box8{
    height:100px;
    width: 200px;
}
.box9 {
    height: 675px;
    width: 9000px;
    background: darkgrey;
}
.box91 {
    height: 675px;
    width: 9000px;
    background: darkgrey;
}

.flex-item {
    display: flex;
    padding: 5px;
    width: 100px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    text-align: center ;
}
.cat{
    width: 95px;
    height: 30px;
    margin-bottom: 25px;
}
.fa{
    height: 30px;
    width: 95px;
    background: blueviolet;

}
.image1.png{
    width: 95px;
    height: 30px;
    margin-bottom: 25px;}
.image2.png{
    width: 190px;
    height: 60px;
    margin-bottom: 50px;}